.nav-bar {
    overflow: hidden;
    background-color: #333;
    margin-left: 140px;

}

.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    /*width: 100%;*/
    padding: 14px 80px;
    text-decoration: none;
    font-size: 20px;
}

.nav-bar a:hover {
    background-color: #696969;
    color: white;
}
.container-fluid{
    background-color: #333 !important;
}
.bg-img {
    background-color: black !important;
}

.txt4{
    color: darkorange;
}

.form-group row{
    color: white;
}

.form label{
    color: white;
}

.me{
    margin-left: 10px;
    margin-top: 50px;
}

.icons{
    font-size: 40px;
}

.im {
    width: 80%;
}









